# Move this file to .env in order to have it take effect.
# All values are only examples. You should figure out if they are proper by the
# application's code.

# --- REQUIRED VARIABLES ---
# The port where the server will be started at
WEBHOOK_PORT=8080

# The organization name or repository owner username of where the Github App is
# installed
INSTALLATION_LOGIN=org

# The path of the database directory. If it's not an absolute path, it will be
# relative to this repository's root.
DB_PATH=db

# The path of the private key. If it's not an absolute path, it will be relative
# to this repository's root.
PRIVATE_KEY_PATH=githubPrivateKey.pem

# The webhook secret according to the github app's settings.
WEBHOOK_SECRET=hunter2

# The Github App ID according to the github app's settings.
GITHUB_APP_ID=123


# --- OPTIONAL VARIABLES ---
# If you set this variable, the application will receive events from smee and a
# local server will not be started
WEBHOOK_PROXY_URL=https://smee.io/parity-processbot

# Disable organization checks such as the substrateteamleads and core-devs checks.
DISABLE_ORG_CHECK=true
