# Set the appropriate values and copy this file to .env

# --- REQUIRED VARIABLES ---
# The port where the server will be started at
WEBHOOK_PORT=8080

# The organization name or the repository owner's username of where the Github
# App is installed
INSTALLATION_LOGIN=placeholder

# The path of the database directory. If it's not an absolute path, it will be
# relative to this repository's root.
DB_PATH=db

# The directory where the repositories will be cloned to. If it's not an
# absolute path, it will be relative to this repository's root.
REPOSITORIES_PATH=repositories

# The path of the private key. If it's not an absolute path, it will be relative
# to this repository's root.
PRIVATE_KEY_PATH=githubPrivateKey.pem

# The webhook secret according to the Github App's settings.
WEBHOOK_SECRET=placeholder

# The Github App ID according to the Github App's settings.
GITHUB_APP_ID=123

# The GitLab URL from which failing jobs should be detected. You can leave this
# with a placeholder value if you don't plan to use this feature while
# developing.
GITLAB_URL=placeholder

# GitLab Access Token from $GITLAB_URL used to detect if a failing job has been
# retried on GitLab. You can leave this with a placeholder value if you don't
# plan to use this feature while developing.
GITLAB_ACCESS_TOKEN=placeholder

# --- OPTIONAL VARIABLES ---
# If you set this variable, the application will receive events from Smee and a
# local server will not be started
# WEBHOOK_PROXY_URL=https://smee.io/parity-processbot

# Disable organization checks for using the bot. Useful if you're using the bot
# in your own account and not an organization.
# DISABLE_ORG_CHECKS=true

# Configure which prefix to use for detecting sources in dependencies
# e.g. "ssh://git@github.com" if you're trying it on a private repository
# GITHUB_SOURCE_PREFIX=https://github.com

# Configure which suffix to use for detecting sources in dependencies
# e.g. ".git" if you're using ssh
# GITHUB_SOURCE_SUFFIX=

# DEPENDENCY_UPDATE_CONFIGURATION defines which dependencies should be updated
# before merging a pull request in a given repository. Its form is:
# [repository]=[dependency],...:[repository]=[dependency],...
# For example, suppose you want to
# - Always update Substrate + Polkadot before merging Cumulus PRs
# - Always update Substrate before merging Polkadot PRs
# It would be written as follows
#   cumulus=polkadot,substrate:polkadot=substrate
# DEPENDENCY_UPDATE_CONFIGURATION=
